﻿@model IEnumerable<G2V.Models.voiture>
@{
    ViewBag.Title = "Produit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Produit</h2>
<p class="btn btn-light btn-lg text-white">
    @Html.ActionLink("Nouveau produit", "Create")
</p>
<p>Liste des Produits</p>

<table id="dataTables" style="text-align: center;" class="table table-light table-bordered">
    <thead>
        <tr>
            <th>Numéro de la produit</th>
            <th>Marque</th>
            <th>Prix Unitaire (Ar)</th>
            <th>Stock</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.num_voiture)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.marque)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.stock)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Update", new { num_voiture = item.num_voiture }) |
                    @Html.ActionLink("Details", "Read", new { num_voiture = item.num_voiture }) |
                    @Html.ActionLink("Delete", "Delete", new { num_voiture = item.num_voiture })
                </td>
            </tr>
        }
    </tbody>
</table>
