﻿@model G2V.Models.voiture
@{
    ViewBag.Title = "Read";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Détails</h2>


<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Produit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.num_voiture)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.num_voiture)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.marque)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.marque)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.pu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.pu)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.stock)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.stock)
        </dd>
    </dl>
    <p>
        @Html.ActionLink("Modifier", "Update", new { num_voiture = Model.num_voiture }) |
        @Html.ActionLink("Retour à la liste", "Client")
    </p>
